<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>975590005874-lhht7n4gmiip95kjbll0f1ekutv2mk7f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.975590005874-lhht7n4gmiip95kjbll0f1ekutv2mk7f</string>
	<key>API_KEY</key>
	<string>AIzaSyA5FTwahIwpLGWyDrxTJ9_oXaIISu7yyCc</string>
	<key>GCM_SENDER_ID</key>
	<string>975590005874</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>KhoiNguyen.devslopes-socials</string>
	<key>PROJECT_ID</key>
	<string>devslopes-socials</string>
	<key>STORAGE_BUCKET</key>
	<string>devslopes-socials.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:975590005874:ios:e1812aa2c4b1ae4c</string>
	<key>DATABASE_URL</key>
	<string>https://devslopes-socials.firebaseio.com</string>
</dict>
</plist>